[Unit]
Description={{Description}}
After=network.target
Wants=network.target

[Service]
ExecStart=/bin/bash -l -c "exec {{ExecStart}}"
WorkingDirectory={{WorkingDirectory}}
User={{User}}
Group={{Group}}
Restart=on-failure
RestartSec={{RestartSec}}

[Install]
WantedBy=multi-user.target
